{% set placeholderText = config("HelloWorld.placeholder.text") %}

<a href="https://i-ways-test.plentymarkets-cloud01.com/hello"><img src="{{ plugin_path("HelloWorld") }}/images/placeholder.png"></a>
<h5>{{ placeholderText }}</h5>