<html>
<body>
<h1>Hello World!</h1>

<p>{{ packagistResult.total }} Results</p>
<ul>
    <li>{{ results }}</li>
    <li>{{ results | json_encode }}</li>
    <li>{{ no_data }}</li>
</ul>
</body>
</html>
