{% extends "HelloWorld::hello" %}

    {% block PageBody %}
        <h1 style="text-align: center"> top items found!</h1>
        <div class="col-xs-12 card-deck-wrapper" style="overflow: auto">
            <ul class="list-unstyled card-deck" style="height: 380px">
                {% if packagistResult is not null %}
                    {{ packagistResult | json_encode }}
                {% endif %}
                {% for packagistItem in packagistResult.results %}
                    <li>{{ packagistItem.name }} : {{ packagistItem.repository }}</li>
                {% else %}
                    <li>No entries</li>
                {% endfor %}
            </ul>
        </div>
    {% endblock %}