{% extends "HelloWorld::hello" %}

    {% block PageBody %}
        <h1 style="text-align: center"> top items found!</h1>
        <div class="col-xs-12 card-deck-wrapper" style="overflow: auto">
            <ul class="list-unstyled card-deck" style="height: 380px">
                {{ completeData | json_encode }}
            </ul>
            <div>
                {{ systemInfo | json_encode }}
            </div>
            <div>
                {{ children | json_encode }}
            </div>
            <div>
                {{ info | json_encode }}
            </div>
        </div>
    {% endblock %}