{% extends "HelloWorld::hello" %}

    {% block PageBody %}
        <h1 style="text-align: center"> top items found!</h1>
        <div class="col-xs-12 card-deck-wrapper" style="overflow: auto">
            <ul class="list-unstyled card-deck" style="height: 380px">
                {{ completeData | json_encode }}
            </ul><br><br><br>
            <ul class="list-unstyled card-deck" style="height: 380px">
                {{ variRepo | json_encode }}
            </ul>
            <ul>
                {{ test | json_encode}}
            </ul>
        </div>
    {% endblock %}